@import url('https://fonts.googleapis.com/css2?family=Cairo+Play&family=Noto+Sans+Sinhala&family=Poor+Story&family=Sono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sono';
    background-color: #3d2c2e;
}

p {
    font-family: 'Sono';
    font-weight: bolder;
    color: #f5edf0;
}


h2 {
    font-weight: bolder;
    color: #f5edf0;
}


img {
    display: flex;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.highlighted-link {
    color: black !important;
}

.content-container {
    background-color: #3d2c2e ;
}

.bio {
    display: flex;
    width: 50%;
}