* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #567189;
}

/* Nav menu link styling */
a {
    text-decoration: none;
    color: black;
    transition: all 0.4s ease 0s;
    font-weight: bolder;
}

/* Changes color of nav menu links when hovering over them */
a:hover {
    color: #4f89b8;
    transform: scale(1.05);
}

h1, h2, h3, h4 {
    font-weight: bolder;
}


img {
    display: flex;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}