.footer-list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none !important;
    justify-content: space-between;
    width: 60%;
}

a {
    text-decoration: none !important;
    color: #f5edf0 !important;
    font-size: x-large;
    font-weight: bolder;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: auto;
    position: fixed;bottom:0;left:0;right:0;height:30px;
}                                   